@import "tailwindcss";

* {
    box-sizing: border-box;
}

@layer components {
    .button-primary {
        @apply bg-red-500 text-white py-4 px-8 font-bold text-4xl rounded-2xl
    }

    .button-secondary { 
        @apply bg-red-500 text-white py-2 px-4 font-bold text-xl rounded-2xl
    }

    .button-tertiary {
        @apply bg-gray-800 text-white py-2 px-4 font-bold text-xl rounded-2xl
    }
}

